# Built-in Data Structures, Functions, and Files

## Data Structures

### Tuple

In [7]:
tup = (4, 5, 6)
print(tup)

tup = 4, 5, 6
print(tup)

print(tuple([4, 0, 2]))
tup = tuple('string')
print(tup)

print(tup[0])

(4, 5, 6)
(4, 5, 6)
(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')
s

In [8]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
print(nested_tup[0])
print(nested_tup[1])

((4, 5, 6), (7, 8))
(4, 5, 6)
(7, 8)

In [9]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [10]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [15]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [21]:
a, b, *_ = values
print(a)
print(b)
print(_)

1
2
[3, 4, 5]

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [24]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)
b_list[1] = "peekaboo"
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [25]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
b_list.append("dwarf")
print(b_list)

b_list.insert(1, "red")
print(b_list)

b_list.pop(2)
print(b_list)

b_list.append("foo")
print(b_list)
b_list.remove("foo")
print(b_list)

['foo', 'peekaboo', 'baz', 'dwarf']
['foo', 'red', 'peekaboo', 'baz', 'dwarf']
['foo', 'red', 'baz', 'dwarf']
['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

In [27]:
"dwarf" in b_list

True

In [28]:
"dwarf" not in b_list

False

In [29]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [31]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
print(x)

a = [7, 2, 5, 1, 3]
a.sort()
print(a)

b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
print(b)

[4, None, 'foo', 7, 8, (2, 3)]
[1, 2, 3, 5, 7]
['He', 'saw', 'six', 'small', 'foxes']

In [34]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq[1:5])

seq[3:5] = [6, 3]
print(seq)

print(seq[:5])
print(seq[3:])

print(seq[-4:])
print(seq[-6:-2])

print(seq[::2])

print(seq[::-1])

[2, 3, 7, 5]
[7, 2, 3, 6, 3, 6, 0, 1]
[7, 2, 3, 6, 3]
[6, 3, 6, 0, 1]
[3, 6, 0, 1]
[3, 6, 3, 6]
[7, 3, 3, 0]
[1, 0, 6, 3, 6, 3, 2, 7]

### Dictionary

In [35]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [36]:
d1[7] = "an integer"
d1
d1["b"]

[1, 2, 3, 4]

In [37]:
"b" in d1

True

In [39]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [41]:
print(list(d1.keys()))
print(list(d1.values()))
print(list(d1.items()))

d1.update({"b": "foo", "c": 12})
print(d1)

['a', 'b', 7, 'c']
['some value', 'foo', 'an integer', 12]
[('a', 'some value'), ('b', 'foo'), (7, 'an integer'), ('c', 12)]
{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [43]:
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
print(mapping)

<zip object at 0x7feab3189a08>
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [44]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

#! blockstart
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
#! blockend

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [45]:
by_letter = {}
#! blockstart
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
#! blockend
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [46]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [47]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [48]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### Set

In [49]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [51]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

print(a.union(b))
print(a | b)

print(a.intersection(b))
print(a & b)

c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [52]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [53]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [54]:
{1, 2, 3} == {3, 2, 1}

True

In [56]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print(sorted("horse race"))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [57]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [58]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [59]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [60]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [61]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [62]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [63]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [64]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [66]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

names_of_interest = []
#! blockstart
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
#! blockend
names_of_interest

['Maria', 'Natalia']

In [67]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [68]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [72]:
def my_function(x, y):
    return x + y

my_function(1, 2)
result = my_function(1, 2)
result

3

In [73]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [74]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [75]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [79]:
a = []

def func():
    for i in range(5):
        a.append(i)
        
func()
print(a)
func()
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [80]:
a = None
#! blockstart
def bind_a_variable():
    global a
    a = []
bind_a_variable()
#! blockend
print(a)

[]

In [82]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [87]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result


clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [88]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [90]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [92]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [98]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)
    
dict_iterator = iter(some_dict)
dict_iterator # -> <dict_keyiterator at 0x7feab31da548>

list(dict_iterator)

a
b
c

['a', 'b', 'c']

In [102]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2
        
gen = squares()
gen # -> <generator object squares at 0x7feab31d86d0>

for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [103]:
gen = (x ** 2 for x in range(100))
gen # -> <generator object <genexpr> at 0x7feab31d89e8>

In [104]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [105]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [106]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [109]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
print(attempt_float("1.2345"))
print(attempt_float("something"))

1.2345
something

In [110]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [111]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
    
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [112]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
    
attempt_float((1, 2))

(1, 2)

## Files

In [114]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

lines = [x.rstrip() for x in open(path, encoding="utf-8")]
print(lines)

f.close()

['Sueña el rico en su riqueza,', 'que más cuidados le ofrece;', '', 'sueña el pobre que padece', 'su miseria y su pobreza;', '', 'sueña el que a medrar empieza,', 'sueña el que afana y pretende,', 'sueña el que agravia y ofende,', '', 'y en el mundo, en conclusión,', 'todos sueñan lo que son,', 'aunque ninguno lo entiende.', '']

In [116]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [120]:
f1 = open(path)
print(f1.read(10))
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

Sueña el r

b'Sue\xc3\xb1a el '

In [122]:
f1.tell()
f2.tell()

10

In [125]:
import sys
sys.getdefaultencoding()

print(f1.seek(3))
print(f1.read(1))
print(f1.tell())

f1.close()
f2.close()

3
ñ
5

In [126]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [127]:
import os
os.remove("tmp.txt")

In [129]:
with open(path) as f:
    chars = f.read(10)

print(chars)
len(chars)

Sueña el r

10

In [130]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [131]:
data.decode("utf-8")
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [132]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Sueña el r

In [133]:
os.remove(sink_path)

In [137]:
f = open(path, encoding='utf-8')
print(f.read(5))
print(f.seek(4))
print(f.read(1))
f.close()

Sueña
4

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte