In [27]:
#! ipython suppress id=b0641b6ae09942babe0c88f69c55482d
#%pushd book-materials
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [28]:
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [29]:
a = [1, 2, 3]
b = a
print(b)
a.append(4)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [30]:
def append_element(some_list, element):
    some_list.append(element)

data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [31]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

In [32]:
"5" + 5

TypeError: must be str, not int

In [33]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [34]:
a = 5
isinstance(a, int)

True

In [35]:
a = 5; b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

In [36]:
a = "foo"
print(getattr(a, "split"))

def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False
    
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))

<built-in method split of str object at 0x7fa0769f4ed8>
True
True
False

In [37]:
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)
print(a is not c)
print(a == c)
print(a is c)
a = None
print(a is None)

True
True
True
False
True

In [38]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [39]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [45]:
ival = 17239871
print(ival ** 6)
fval = 7.243
fval2 = 6.78e-5
print(fval2)

print(3 / 2)
print(3 // 2)
print(3 % 2)

26254519291092456596965462913230729701102721
6.78e-05
1.5
1
1

In [46]:
c = """
This is a longer string that
spans multiple lines
"""

print(c.count("\n"))

3

In [47]:
a = "this is a string"
a[10] = "f"
print(a)

TypeError: 'str' object does not support item assignment

In [53]:
b = a.replace("string", "longer string")
print(b)

a = "new string"
print(b)

new longer string
new longer string

In [56]:
a = 5.6
s = str(a)
print(s)
type(s)

5.6

str

In [57]:
s = "python"
list(s)
s[:3]

'pyt'

In [60]:
s = "12\\34"
print(s)

12\34

In [61]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [62]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [64]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [66]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [67]:
val = "español"
val

'español'

In [70]:
val_utf8 = val.encode("utf-8")
print(val_utf8)
type(val_utf8)

b'espa\xc3\xb1ol'

bytes

In [72]:
print(val_utf8.decode("utf-8"))
print(val_utf8)

español
b'espa\xc3\xb1ol'

In [75]:
print(val.encode("latin1"))
print(val.encode("utf-16"))
print(val.encode("utf-16le"))

b'espa\xf1ol'
b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'
b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [80]:
print(True and True)
print(False or True)

print(int(False))
print(int(True))

True
True
0
1

In [81]:
a = True
b = False
not a
not b

print(a + 3)

4

In [82]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [84]:
a = None
print(a is None)
b = 5
print(b is not None)

True
True

In [92]:
from datetime import datetime, date, time
dt = datetime(2022, 8, 21, 22, 15, 14)
print(dt.day)
print(dt.minute)
print(dt.date())
print(dt.time())

21
15
2022-08-21
22:15:14

In [93]:
dt.strftime("%Y-%m-%d %H:%M")

'2022-08-21 22:15'

In [97]:
datetime.strptime("20220821", "%Y%m%d")

datetime.datetime(2022, 8, 21, 0, 0)

In [98]:
dt_hour = dt.replace(minute=0, second=0)
print(dt_hour)
print(dt)

2022-08-21 22:00:00
2022-08-21 22:15:14

In [101]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
type(delta)

print(dt)
print(dt + delta)

-3932 days, 0:14:46
2022-08-21 22:15:14
2011-11-15 22:30:00

In [102]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [103]:
4 > 3 > 2 > 1

True

In [104]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [105]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [107]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [108]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668