# Built-in Data Structures, Functions, and Files

In [7]:
tup = (4, 5, 6)
print(tup)

tup = 4, 5, 6
print(tup)

print(tuple([4, 0, 2]))
tup = tuple('string')
print(tup)

print(tup[0])

(4, 5, 6)
(4, 5, 6)
(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')
s

In [8]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
print(nested_tup[0])
print(nested_tup[1])

((4, 5, 6), (7, 8))
(4, 5, 6)
(7, 8)

In [9]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [10]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [15]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [21]:
a, b, *_ = values
print(a)
print(b)
print(_)

1
2
[3, 4, 5]

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [24]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)
b_list[1] = "peekaboo"
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [25]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
b_list.append("dwarf")
print(b_list)

b_list.insert(1, "red")
print(b_list)

b_list.pop(2)
print(b_list)

b_list.append("foo")
print(b_list)
b_list.remove("foo")
print(b_list)

['foo', 'peekaboo', 'baz', 'dwarf']
['foo', 'red', 'peekaboo', 'baz', 'dwarf']
['foo', 'red', 'baz', 'dwarf']
['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

In [27]:
"dwarf" in b_list

True

In [28]:
"dwarf" not in b_list

False

In [29]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [31]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
print(x)

a = [7, 2, 5, 1, 3]
a.sort()
print(a)

b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
print(b)

[4, None, 'foo', 7, 8, (2, 3)]
[1, 2, 3, 5, 7]
['He', 'saw', 'six', 'small', 'foxes']

In [34]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq[1:5])

seq[3:5] = [6, 3]
print(seq)

print(seq[:5])
print(seq[3:])

print(seq[-4:])
print(seq[-6:-2])

print(seq[::2])

print(seq[::-1])

[2, 3, 7, 5]
[7, 2, 3, 6, 3, 6, 0, 1]
[7, 2, 3, 6, 3]
[6, 3, 6, 0, 1]
[3, 6, 0, 1]
[3, 6, 3, 6]
[7, 3, 3, 0]
[1, 0, 6, 3, 6, 3, 2, 7]

In [35]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [36]:
d1[7] = "an integer"
d1
d1["b"]

[1, 2, 3, 4]

In [37]:
"b" in d1

True

In [39]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [41]:
print(list(d1.keys()))
print(list(d1.values()))
print(list(d1.items()))

d1.update({"b": "foo", "c": 12})
print(d1)

['a', 'b', 7, 'c']
['some value', 'foo', 'an integer', 12]
[('a', 'some value'), ('b', 'foo'), (7, 'an integer'), ('c', 12)]
{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [43]:
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
print(mapping)

<zip object at 0x7feab3189a08>
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [44]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

#! blockstart
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
#! blockend

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [45]:
by_letter = {}
#! blockstart
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
#! blockend
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [46]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [47]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [48]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}